.emailList{
    flex: 1;
    overflow: scroll;    
}

.emailList__settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    border-top: 1px solid whitesmoke;
    background-color: white;
    padding-right: 10px;
}

.emailList__sections{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
}